<%= simple_form_for(@training) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date %>
    <h3>Blocs</h3>

    <div id="blocs">
    <%= f.simple_fields_for :blocs do |bloc| %>
    <div class="bloc-form">
    <%= render "bloc_fields", f: bloc %>
    </div>
    <% end %>
    <div class="links">
    <%= link_to_add_association "Add Bloc", f, :blocs %>
    </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
