<h1>Editing project</h1>

<%= simple_form_for(@training, :method => 'patch') do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :title %>
  <%= f.input :date %>
  <h3>Blocs</h3>

  <div id="blocs">
    <%= f.simple_fields_for :blocs do |bloc| %>
      <% # Use `bloc.object.id` to get the ID of the existing bloc %>
      <div class="bloc-form" id="bloc_<%= bloc.object.id %>">
        <div class="bloc-field">
          <%= bloc.input :quantity %>
        </div>
        <div class="line-fields">
          <h3>Lines</h3>
          <%= bloc.simple_fields_for :lines do |line| %>
            <% # Use `line.object.id` to get the ID of the existing line %>
            <div class="nested-fields" id="line_<%= line.object.id %>">
              <%= line.input :quantity%>
              <%= line.input :distance %>
              <%= line.input :exercise %>
              <%= line.input :start_time %>
              <%= link_to_remove_association "Remove Line", line %>
            </div>
          <% end %>
        </div>
        <div class="links">
          <%= link_to_add_association "Add Line", bloc, :lines  %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association "Add Bloc", f, :blocs  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to "Back to trainings", trainings_path %>
