<h1>Editing project</h1>

<%= simple_form_for(@training) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :title %>
  <%= f.input :date %>
  <h3>Blocs</h3>

  <div id="blocs">
    <%= f.simple_fields_for :blocs do |bloc| %>
      <div class="bloc-form">
        <div class="bloc-field">
          <%= bloc.input :quantity %>
        </div>
        <div class="line-fields">
          <h3>Lines</h3>
          <%= bloc.simple_fields_for :lines do |line| %>
            <div class="nested-fields">
              <%= line.input :quantity%>
              <%= line.input :meters %>
            </div>
            <%= link_to_remove_association "Remove Line", line %>
          <% end %>
        </div>
        <div class="links">
          <%= link_to_add_association "Add Line", bloc, :lines %>
        </div>
      </div>
    </div>
    <%= link_to_remove_association "Remove Bloc", bloc %>
  <% end %>
</div>

    <div class="links">
      <%= link_to_add_association "Add Bloc", f, :blocs %>
    </div>


<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>


<%= link_to "Show this project", @training %> |
<%= link_to "Back to projects", trainings_path %>
